element.style {

}
#cabecalho {
    height: 80px;
    background-color: rgb(red, green, blue);
    font-family: 'lobster', 'cursive';
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    object-fit: contain;


#conteudo {
    height: 100%;
    margin: 0 0 0 0;
    background-image: url (https://tinyurl.com/yhfm396j);
    background-repeat: no-repeat;
    background-size: cover;
}

#rodape {
    height: 20%;
    position: relative;
    background-color: rgb(red, green, blue);
}